<div style="display: inline-flex; align-items: center; justify-content: end;">
    <button nz-button nzType="text" nzBlock (click)="cataModal(null, tplTitle, tplContent, tplFooter)">Crear Dato</button>
    <ng-template #tplTitle>
        <span>{{modalTitle}}</span>
    </ng-template>
    <ng-template #tplContent let-params>
        <form nz-form [formGroup]="dataForm">
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese el dato correcto!">
                    <nz-input-group>
                        <nz-form-label nzRequired>Descripción</nz-form-label>
                        <input type="text" nz-input formControlName="descri" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese el dato correcto!">
                    <nz-input-group>
                        <nz-form-label nzRequired>Valor</nz-form-label>
                        <input type="number" nz-input formControlName="valor" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese el dato correcto!">
                    <nz-input-group>
                        <nz-form-label nzRequired>Unidad</nz-form-label>
                        <nz-select formControlName="unidad" nzAllowClear nzPlaceHolder="Selecciona una unidad">
                            <nz-option *ngFor="let registro of listUnidades" [nzValue]="registro.clave" [nzLabel]="registro.descri"></nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese el dato correcto!">
                    <nz-input-group>
                        <nz-form-label nzRequired>Área responsable</nz-form-label>
                        <nz-select formControlName="encargado" nzAllowClear nzPlaceHolder="Selecciona un responsable">
                            <nz-option *ngFor="let registro of listAreas" [nzValue]="registro.cve" [nzLabel]="registro.name"></nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
    <ng-template #tplFooter let-ref="modalRef">
        <button nz-button (click)="ref.destroy()">Cancelar</button>
        <button nz-button nzType="primary" (click)="acceptModel(ref)" [nzLoading]="tplModalButtonLoading">Aceptar</button>
    </ng-template>
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" #searchText nz-input placeholder="buscar" Green (keyup.enter)="search(searchText.value)" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
</div>

<nz-table #basicTable [nzSize]="'small'" [nzData]="listOfData" [nzNoResult]="'No hay resultados que mostrar'">
    <thead>
        <tr>
            <th>Cve.</th>
            <th>Descripción</th>
            <th>Valor</th>
            <th>Unidad</th>
            <th>Encargado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.clave }}</td>
            <td>{{ data.descri }}</td>
            <td>{{ data.valor }}</td>
            <td>{{ data.unidad | unidades | async}}</td>
            <td>{{ data.encargado | areas | async }}</td>
            <td>
                <a (click)="cataModal(data, tplTitle, tplContent, tplFooter)" *ngIf="data.precargado !== '1'">Edit</a>
                <a *ngIf="data.precargado === '1'" nz-tooltip nzTooltipTitle="No puede editar un dato precargado">Edit</a>
                <nz-divider [nzType]="'vertical'"></nz-divider>
                <a (click)="eliminar(data.clave, data.descri)" *ngIf="data.precargado !== '1'">Delete</a>
                <a *ngIf="data.precargado === '1'" nz-tooltip nzTooltipTitle="No puede eliminar un dato precargado">Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>