<div style="display: inline-flex; align-items: center; justify-content: end;">
    <button nz-button nzType="text" nzBlock (click)="cataModal(null, tplTitle, tplContent, tplFooter)">Crear Escenario</button>
    <ng-template #tplTitle>
        <span>{{modalTitle}}</span>
    </ng-template>
    <ng-template #tplContent let-params>
        <form nz-form [formGroup]="dataForm">
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese el dato correcto!">
                    <nz-input-group>
                        <nz-form-label nzRequired>Escenario</nz-form-label>
                        <input type="text" nz-input formControlName="nombre" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese el dato correcto!">
                    <nz-input-group>
                        <nz-form-label nzRequired>Rango de (%)</nz-form-label>
                        <input type="number" nz-input formControlName="valord" />
                    </nz-input-group>
                </nz-form-control>
                <nz-form-control nzErrorTip="Ingrese el dato correcto!">
                    <nz-input-group>
                        <nz-form-label nzRequired>Hasta (%)</nz-form-label>
                        <input type="number" nz-input formControlName="valora" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
    <ng-template #tplFooter let-ref="modalRef">
        <button nz-button (click)="ref.destroy()">Cancelar</button>
        <button nz-button nzType="primary" (click)="acceptModel(ref)" [nzLoading]="tplModalButtonLoading">Aceptar</button>
    </ng-template>
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" #searchText nz-input placeholder="buscar" Green (keyup.enter)="search(searchText.value)" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
</div>

<nz-table #basicTable [nzSize]="'small'" [nzData]="listOfData" [nzNoResult]="'No hay resultados que mostrar'">
    <thead>
        <tr>
            <th>Cve.</th>
            <th>Escenario</th>
            <th>Rango desde</th>
            <th>Hasta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.clave }}</td>
            <td>{{ data.nombre }}</td>
            <td>{{ data.valord }} %</td>
            <td>{{ data.valora }} %</td>
            <td>
                <a (click)="cataModal(data, tplTitle, tplContent, tplFooter)">Edit</a>
                <nz-divider [nzType]="'vertical'"></nz-divider>
                <a (click)="eliminar(data.clave, data.nombre)">Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>