<div style="display: inline-flex; align-items: center; justify-content: end;">
    <button nz-button nzType="text" nzBlock (click)="userModal(null, tplTitle, tplContent, tplFooter)">Crear usuario</button>
    <ng-template #tplTitle>
        <span>{{modalTitle}}</span>
    </ng-template>
    <ng-template #tplContent let-params>

        <form nz-form [formGroup]="userForm" class="user-form">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="user" placeholder="{{'username' | translate}}" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group [nzSuffix]="suffixTemplate">
                        <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="pass" placeholder="{{'password' | translate}}" />
                    </nz-input-group>
                    <ng-template #suffixTemplate>
                        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Name!">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="name" placeholder="{{'name' | translate}}" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your mail!">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="mail" placeholder="{{'mail' | translate}}" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

        </form>

    </ng-template>
    <ng-template #tplFooter let-ref="modalRef">
        <button nz-button (click)="ref.destroy()">Cancelar</button>
        <button nz-button nzType="primary" (click)="acceptModel(ref)" [nzLoading]="tplModalButtonLoading">Aceptar</button>
    </ng-template>

    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" #searchText nz-input placeholder="buscar" Green (keyup.enter)="search(searchText.value)" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
</div>
<nz-table #basicTable [nzSize]="'small'" [nzData]="listOfData" [nzNoResult]="'No hay resultados que mostrar'">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre del usuario</th>
            <th>Mail</th>
            <th>Alta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.user }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.mail }}</td>
            <td>{{ data.begin }}</td>
            <td>
                <a (click)="userModal(data, tplTitle, tplContent, tplFooter)">Edit</a>
                <nz-divider [nzType]="'vertical'"></nz-divider>
                <a (click)="deleteUser(data.clave, data.name)">Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>