<nz-tabset>
    <nz-tab [nzTitle]="titleTemplate1">
        <ng-template #titleTemplate1>
            <i nz-icon [nzType]="'folder'"></i> Unidades
        </ng-template>
        <app-unidades></app-unidades>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate2">
        <ng-template #titleTemplate2>
            <i nz-icon [nzType]="'folder'"></i> Factores
        </ng-template>
        <app-factores></app-factores>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate3">
        <ng-template #titleTemplate3>
            <i nz-icon [nzType]="'folder'"></i> Niveles
        </ng-template>
        <app-niveles></app-niveles>
    </nz-tab>
</nz-tabset>