<div class="var-top">

</div>

<div>
  <div nz-row [nzGutter]="[8, 8]">
    <div nz-col class="gutter-row1" [nzSpan]="16" style="height: 80vh; overflow: auto;">

      <nz-list nzGrid >
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="6" *ngFor="let item of ventas">
            <nz-list-item>
              <nz-card [nzTitle]="item.est_name" [ngClass]="{'iniciada': item.est_etap=='INI',
                                                             'desarrollo': item.est_etap=='DES',
                                                             'cerrada': item.est_etap=='CER',
                                                             'perdida': item.est_etap=='PER',
                                                             'cancelada': item.est_etap=='CAN'}">
                <p>{{item.est_etap}}</p>
                <div style="height: 100px; overflow: auto;">{{item.est_meta}}</div>
              </nz-card>
            </nz-list-item>
          </div>
        </div>
      </nz-list>

      <!-- <div style="background-color: red; height: 200px;"></div> -->
    </div>
    <div nz-col class="gutter-row1" [nzSpan]="8">
      <!-- <div style="background-color: green; height: 200px;"></div> -->

      <nz-table #basicTable [nzSize]="'small'" [nzData]="activities" [nzFrontPagination]="false"
            [nzShowPagination]="false" [nzScroll]="{y: '42.5vh' }" nzNoResult="Sin datos a mostrar">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Aviso</th>
            <th>options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td [nzEllipsis]>{{ data.ess_titu }}</td>
            <td [nzEllipsis]>{{ data.ess_desc }}</td>
            <td [nzEllipsis]>{{ data.fecha }}</td>
            <td [nzEllipsis]>{{ data.aviso }}</td>
            <td></td>
          </tr>
        </tbody>
      </nz-table>
      
    </div>
  </div>
</div>



  <!-- <div nz-row>
    <div nz-col [nzSpan]="24" class="var-top">
      <div class="gutter-example">
        <div nz-row [nzGutter]="[8, 8]">
          <div nz-col class="gutter-row" [nzSpan]="15 / ventas.length" *ngFor="let ven of ventas">
            <nz-card nzType="inner" nzTitle="Inner Card Title">
              <a>Inner Card Content</a>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- 
  <div nz-row [nzGutter]="[8, 8]" [nzJustify]="'space-between'">
    <div nz-col nzSpan="14" style="background-color: red;">
      
    </div>

    <div nz-col nzSpan="8" style="height: 500px; overflow: auto;"></div>
      
  </div> -->