

.iniciada {
  background-color: #ccfec7;
  color: #293A4E;
}

.desarrollo {
  background-color: #c9c9e5;
  color: #293A4E;
}

.cerrada {
  background-color: #d3e6f8;
  color: #293A4E;
}

.perdida {
  background-color: #ffc7ad;
  color: #293A4E;
}

.cancelada {
  background-color: #f19999;
  color: #293A4E;
}