<div class="container">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <div class="login-logo">
      <img src="./assets/images/logo3.png" alt="SIP">
    </div>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group [nzPrefix]="prefixTemplateUser">
          <input type="text" nz-input formControlName="userName" placeholder="{{'username' | translate}}" />
        </nz-input-group>
        <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group [nzPrefix]="prefixTemplateLock">
          <input type="password" nz-input formControlName="password" placeholder="{{'password' | translate}}" />
        </nz-input-group>
        <ng-template #prefixTemplateLock><i nz-icon [nzType]="'lock'"></i></ng-template>
      </nz-form-control>
    </nz-form-item>

    <div nz-row class="login-form-margin">
      <!-- <div nz-col [nzSpan]="12">
                <label nz-checkbox formControlName="remember"><span>{{'remember' | translate}}</span></label>
            </div> -->
      <!-- <div nz-col [nzSpan]="12">
                <a class="login-form-forgot">{{'forgot' | translate}}</a>
            </div> -->
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">{{'login' | translate}}</button>
    <!-- Or <a> register now! </a> -->
    <div class="login-footer">&copy;{{anio}} SIP v{{version}}, by razadi</div>
  </form>
</div>



<!-- 
    <div *ngIf="showLangText" nz-dropdown [nzDropdownMenu]="langMenu" nzPlacement="bottomRight">
      <i nz-icon [nzType]="'global'"></i> Algo
      <i nz-icon [nzType]="'down'"></i>
  </div>
  <i *ngIf="!showLangText" nz-dropdown [nzDropdownMenu]="langMenu" nzPlacement="bottomRight" nz-icon nzType="global"></i>
  <nz-dropdown-menu #langMenu="nzDropdownMenu">
      <ul nz-menu>
          <li nz-menu-item *ngFor="let item of langs" [nzSelected]="item.code === curLangCode" (click)="change(item.code)">
              <span role="img" [attr.aria-label]="item.text" class="pr-xs">{{ item.abbr }}</span> {{ item.text }}
          </li>
      </ul>
  </nz-dropdown-menu> -->